# Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class
.mypy_cache/
.pytest_cache/

# Virtual environments
.venv/
venv/
ENV/
env/
testenv/
.testenv/
buildenv/

# Packaging / Distribution
build/
dist/
*.egg-info/
*.egg
*.whl
*.tar.gz

# Generated outputs
maze.txt
